.Rproj.user
.Rhistory
.RData
.Ruserdata
vignettes/cross_sectional_timing_model\.aux
vignettes/cross_sectional_timing_model\.log
vignettes/cross_sectional_timing_model\.toc
vignettes/cross_sectional_timing_model_cache
vignettes/cross_sectional_timing_model_files
vignettes/cross_sectional_timing_colony\.aux
vignettes/cross_sectional_timing_colony\.log
vignettes/cross_sectional_timing_colony\.toc
vignettes/cross_sectional_timing_colony_cache
vignettes/cross_sectional_timing_colony_files
.DS_Store
.Rhistory\ 2
